[submodule "lab2/zad7/code"]
	path = lab2/zad7/code
	url = git@github.com:soltys/ZUT_systemy_internetowe.git
[submodule "project/code"]
	path = project/code
	url = https://github.com/soltys/Messim.git
